@charset "utf-8";
/* CSS Document */
.scale img{
background-size:contain|cover;
width:100%;
height: auto;
}

.banner { position: relative; overflow: auto; }  
.banner li { list-style: none; }  
.banner ul li { float: left; }  