<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>watermelonpixel_new</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>getRegister</servlet-name>
    <servlet-class>watermelonpixel_new.getRegister</servlet-class>
    <init-param>
      <param-name>driveName</param-name>
      <param-value>sun.jdbc.odbc.Jdbc0dbcDriver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:odbc:baoming</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>getRegister</servlet-name>
    <url-pattern>/watermelonpixel_new/getRegister</url-pattern>
  </servlet-mapping>
</web-app>